*{
	margin: 0px;
	padding: 0px;
}
.containerbox{
	width: 100%;
	background-color: #f8f9fa!important;
	margin: auto;
}
.box{
	width: 358px;
	height: 400px;
	margin-left: 55px;
	display: inline-block;
	border: 1px solid gray;
	border-radius: 3px;
	margin-top: 25px;
}
.box-img{
	background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20226%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16538feed2f%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16538feed2f%22%3E%3Crect%20width%3D%22348%22%20height%3D%22226%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.678125%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	width: 359px;
	height: 225px;
	background-size: 359px 225px;
}
.box-text{
	background-color: #fff;
	width: 318px;
	height: 135px;
	padding: 1.25rem;
}
p{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	width: 319px;
	height: 84px;
	word-wrap: break-word;
	line-height: 1.5;
	font-size: 1rem; 
	box-sizing: border-box;
	margin-bottom: 16px; 
	text-align: left;
}
.box-btn{
	width: 319px;
	height: 30px !important;
}
.btn1, .btn2{
	height: 30px;
	border: .5px solid black;
	float: left;
	text-align: center;
	color: gray;
	line-height: 1.7em;
	text-decoration: none;
}
.btn1{
	width: 50px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; 
}
.btn1:hover{
	background-color: gray;
	color: #fff;
}
.btn1:active{
	background-color: gray;
	color: #fff;
}
.btn2{
	width: 45px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 
	border-left: 0px !important;
	}
.btn2:hover{
	background-color: gray;
	color: #fff;
}
.btn2:active{
	background-color: gray;
	color: #fff;
}
.text-btn{
	float: right;
	text-align: right;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 0.85em;
	color: gray;
}