body{
    width: 100%;
    font: 1.2em/1.4rem Microsoft Sans Serif, Helvetica, Arial;    
    }
ul{
    padding-left: 0;
    margin-top: 0;
}
.div1{
    background-color: #A4A4A4;
    width: 85%;
    height: 20em;
    float: left;
}
.div2{
    margin-top: 0;
    background-color: #E6E6E6;
    width: 15%;
    height: 20em;
    float: right;

}
li{
    height: 30px;
    color: #fff;
    background-color: #000;
    list-style: none;
    margin-bottom: 2px;
    border-width: 2px;
}
li:hover{
    background: #FF0040;
    color: #000;
}